name: Mason Registry CI
on:
  pull_request: 
    paths:
      - 'Bricks/**'
jobs:
  checks_for_package:
    name: Check Package 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 3
          persist-credentials: false
      - name: Run checkTomlScript
        run: |
          bash ./checkTomls.bash
      - name Reconfigure git to use HTTPS
        run: >
          git config --global url. "https://github.com/".insteadof
          ssh://git@github.com/
      - name: CI Check package
        run: |
          bash ./util/runMasonCI.bash

